{% extends "base.html" %}

{% block disqus %}
    <div class="md-source-date">
    <small> Authors:   </small>
{% if git_info %}
  {%- for author in git_info.get('page_authors') -%}
      <small>{{ author.name }} , </small>  
  {%- endfor -%}
{% endif %}
  </div>
    {% include "partials/integrations/disqus.html" %}
{% endblock %}
    
